@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.user_form{
    height: 200vh;
    display: flex;
    justify-content: center;
    
    padding: 10px;
    background: #F8F8FF;
}
.container{
  max-width: 700px;
  width: 100%;
  
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 10px);
 margin-left: 10px;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  width: 100%;
 
  border: 0;
  border-bottom: 2px solid #02b16b;
  padding: 1px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
border-color: #02b16b;
}


form .button{
  height: 45px;
  margin: 35px 0
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #02b16b;
}

  