h1
{
text-align:center;
font-size: 50px;
font-family: 'Comfortaa', cursive;
}
p
{
text-align: center;
font-size: 20px;
font-family: 'Comfortaa', cursive;
}
label
{
    margin-left: 26%;
    width: 150px; 
    font-size: 15px;    
    display: inline-block;
    font-family: 'Comfortaa', cursive;

}
#cebu
{
    height: 150px;
    position:absolute;
    margin-left:10%;
    top: 1.5%;
}
#tabogon
{
    height: 150px;
    position:absolute;
    margin-left:80%;
    top: 1.5%;
}

input
{
    margin: 10px;
    padding: 6px;
    font-size: 15px;    
    border-radius: 30px;
    border-color: #00fa98;
    background-color: rgba(255, 255, 255, 0.637);
    font-family: 'Comfortaa', cursive;
    text-align: center;
    transition: 0.8s;
}
input:hover
{
    background-color: #009258;
}
select
{
    margin: 10px;
    padding: 6px;
    font-size: 15px;
    border-radius: 30px;
    border-color: #00fa98;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.315);
    font-family: 'Comfortaa', cursive;
    transition: 0.8s;
}
select:hover
{
    background-color: #009258;
}

body
{
    background-color: #97ffd5;
}
option
{
    cursor: pointer;
}
.hss
{
   position:sticky;
}

.insform
{
background-color:#00fa98 ;
border-radius: 10%;
margin-left: 20%;
margin-right: 20%;
box-shadow: 50px, 0, 0, 0 rgba(0,0,0,.5);
}
#submitted
{
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    cursor: pointer;
    margin-left: 37%;
    transition: 0.8s;
}
#submitted:hover
{
   background-color: #009258;
}

